@using GlobalResources;
@using Microsoft.Azure.IoTSuite.Connectedfactory.WebApp.Models

@model AddGatewayModel

<div class="container-fluid browser_connect_container">
    <div class="row browser_connect_header">
        <div class="browser_connect_header_text overflow">@Strings.AddGatewayTitle</div>
    </div>
    <div class="row browser_top_container">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="add_gateway_instruction_textbox">
                <div class="addGateway_instruction_body">
                    <p>
                        <div>
                            1. @Strings.AddGatewayText1
                            <a target="_blank" class="underline" href="https://catalog.azureiotsolutions.com/alldevices?filters={%223%22:[%222%22,%229%22],%2218%22:[%221%22]}">@Strings.Here</a>.
                            @Strings.AddGatewayText2
                            <a target="_blank" class="underline" href="https://docs.microsoft.com/en-us/azure/iot-edge/support">here</a>.
                            @Strings.AddGatewayText3
                        </div>
                    </p>
                    <p>
                        <div>
                            2. @Strings.AddGatewayText4
                            <a target="_blank" class="underline" href="https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAzure%2FIndustrial-IoT-Gateway-Installer%2Fraw%2Fmaster%2FReleases%2FWindows%2Fsetup.exe&data=02%7C01%7Cdacol%40microsoft.com%7C1ee28a7c496243109f3508d6f09dbb73%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636960957573636350&sdata=xdq4CITQG%2Ftie4LOlvaR3bdLA8oiv3Uk%2BKFFVp6EJp8%3D&reserved=0">@Strings.Here</a>
                            @Strings.AddGatewayText5
                            <a target="_blank" class="underline" href="https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAzure%2FIndustrial-IoT-Gateway-Installer%2Fraw%2Fmaster%2FReleases%2FLinux.zip&data=02%7C01%7Cdacol%40microsoft.com%7C1ee28a7c496243109f3508d6f09dbb73%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636960957573636350&sdata=BzN3%2FKbwZ7%2BOu3gxq4vLhx3L0zOlfkZbciQIE2uECMA%3D&reserved=0">@Strings.Here</a>
                            @Strings.AddGatewayText6 '@Model.IotHubName'. @Strings.AddGatewayText7
                        </div>
                    </p>
                    <p>
                        <div>
                            3. @Strings.AddGatewayText8
                        </div>
                    </p>
                    <p>
                        <div>
                            4. @Strings.AddGatewayText9
                        </div>
                    </p>
                    <p>
                        <div>
                            @Strings.AddGatewayText10
                            <a target="_blank" class="underline" href="https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fiot-accelerators%2Fhowto-opc-twin-deploy-modules&data=02%7C01%7Cdacol%40microsoft.com%7C1ee28a7c496243109f3508d6f09dbb73%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636960957573646350&sdata=2c9EfQeBPUxnhyJChCz5WwPhir9NqkysqJREvydNQEQ%3D&reserved=0">@Strings.Here.</a>
                        </div>
                    </p>
                    <p>
                        <div>
                            @Strings.AddGatewayText11
                            <a target="_blank" class="underline" href="https://go.microsoft.com/fwlink/p/?linkid=846688">@Strings.Here.</a>
                        </div>
                    </p>
                    <p>
                        <div>
                            @Strings.AddGatewayText12
                        </div>
                    </p>
                </div>    
            </div>
        </div>
        <div id="browserImage" class="browser_image_container  col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <img class="img-responsive" src="~/Content/img/packing_station.png" />
        </div>
    </div>
</div>

<script>
    var title = "@Strings.TitleAddGateway";
</script>